{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%m/%d/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href="http://0.0.0.0:8080/entry/{{entry.id}}"> {{ entry.title}} </a>
        </h1>
        {{ entry.content | markdown }}
        {% if entry.author.name == NULL %}
        No Author
        {% else %}
        Author: {{ entry.author.name }}
        {% endif %}
    </div>
</div>
{% endmacro %}

